{% extends '::base.html.twig' %}

 {% block content %}
     <section class="wrapper">
     <!-- page start-->
     <h3><i class="fa fa-angle-right"></i>My Artists</h3>
     {% for artist in artists %}

     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
         <div class="project-wrapper">
             <div class="project">
                 <div class="photo-wrapper">
                     <div class="photo">
                         <a class="fancybox" href="/artist/show/{{ artist.id }}"><img class="img-responsive" src="/uploads/pictures/{{ artist.profilePicture.path }}" alt=""></a>
                     </div>
                     <div class="overlay">{{ artist.name }}</div>
                 </div>
             </div>
         </div>
     </div>

     {% endfor %}

     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
         <div class="project-wrapper">
             <div class="project">
                 <div class="photo-wrapper">
                     <div class="photo">
                         <a class="fancybox" href="/artist/create/"><i class="fa-plus"></i></a>
                     </div>
                     <div class="overlay"></div>
                 </div>
             </div>
         </div>
     </div>

     </section>
 {% endblock %}