{% extends '::base.html.twig' %}

 {% block content %}
     <section class="wrapper">
     <!-- page start-->
     <h3><i class="fa fa-anchor"></i>{{ artist.name }} </h3>
         <div class="white-panel pn">
             <div class="panel-heading">
                 <div class="pull-left"><h5><i class="fa fa-tasks"></i> PROFILE PICTURE</h5></div>
                 <br>
             </div>
             <div class="custom-check goleft mt">
                 <img src="{{ artist.profilePicture.path }}">
             </div><!-- /table-responsive -->
         </div>
     </section>
 {% endblock %}